<div class="menu">
  <div class="cabecalho">
    <h2>Clieque em algun produto para ter mais informações!!!</h2>
  </div>
  <div class="prod">
    {{#each products}}
      {{> products}}
    {{/each}}
  </div>
</div>