{{#with page}}
  <div class="product">
    <div class="image">
      <img src={{image}} alt="">
    </div>
    <div class="details">
      <h2>{{modelo}}</h2>
      <h3>{{finality}}</h3>
      <p>{{valor}}</p>
    </div>
  </div>
  <a href="/">Voltar</a>
{{/with}}